PORT=5004

AZURE_FOUNDRY_PROJECT_ENDPOINT=
AZURE_FOUNDRY_API_KEY=
AZURE_FOUNDRY_MODEL=gpt-5
AZURE_FOUNDRY_AGENT_NAME=gerry-docks-ai
AZURE_FOUNDRY_AGENT_VERSION=3

AZURE_CONTENT_SAFETY_ENDPOINT=
AZURE_CONTENT_SAFETY_KEY=
CONTENT_SAFETY_BLOCK_SEVERITY=4

OPENAI_API_KEY=
OPENAI_MODEL=
